#executable files
coupler/coupler
requester/
worker/worker
a.out

#simulation results
*.h5
*.out
*.log
chgacm*
chgmov
cpmxdiag*
currnt
energy
energy?
ewave
icur
i?flux
nesc
noflux
ocur
oltime
pbody*
seyield
volt
